@import "variables";
@import "mixins";

// Includes
@import "includes/_reset";
@import "includes/_buttons";

// Fonts
@import "fonts/celestia";
@import "fonts/manehattan";

@import url(https://fonts.googleapis.com/css?family=Gorditas|Lato:700,400,300);

a { color: inherit; }

// Styles
::selection { background: $grass; }
::-moz-selection { background: $grass; }

body {

  position: relative;
  min-height: 100%;
  color: #FFF;
  font-family: "Lato", $fonts;
  font-weight: normal;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  background: asset-url("equestria-at-night.png") #000;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  padding-top: 90px;
  @media(max-width: $xs-max) { padding-top: 82px; }
  @media(max-width: $sm-max) { padding-bottom: 0; }
  @media(min-width: $md-min) { padding-bottom: 90px; }

}

h1, h2, h3, .choice:not(.skip) figcaption {
  font-family: Gorditas, $fonts;
  text-align: center;
  text-shadow:0 0 10px rgba(0,0,0,0.75);
}

h1 {
  font-size: 50px;
}

header, section.characters, section.introduction {
  padding: 20px;
}

section.introduction {
  padding-top: 0px;
}

header[role="header"] a,
header[role="header"] .button,
nav a {
  @include button-border(white);
  @extend .button-large;
  -webkit-transform-origin: right;
  transform-origin: right;
  font-size: inherit;
}

button, input[type="submit"] {
  @include button-border(green);
  @extend .button-large;
  &:hover {
    color: green;
  }
}

// Forms
form {
    margin: 120px auto;
    max-width: 400px;
    border-radius: 5px;
    background: white;
    color: black;
    box-shadow: 0 0 40px black;
    text-align: center;
    padding: 20px;
    input {

    }
    .control-group {
      margin-top: 1em;
    }
}

@import "header";
@import "blocks";
@import "characters";
@import "choices";
@import "footer";