
// Choices
section.choices {

  overflow: hidden;
  position: relative;

  margin-top: -90px;
  @media(max-width: $xs-max) {
    margin-top: -82px;
  }

  background-color: #333;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);

  box-sizing: border-box;
  display: flex;

  align-items: center;
  justify-content: center;

  color: #EEE;

  width: 100%;

  &.loading {
    pointer-events: none;
    .choice.a figure, .choice.b figure {
      @include opacity(.2);
    }
  }

  .choice.a, .choice.b {

    position: absolute;
    overflow: hidden;

    width: 50%;
    top: 0px; bottom: 0px;
    @media(max-width: $xs-max) { left: 0px; right: 0px; width: 100%; }

    a, figure, figcaption, figcaption > span {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    figure {
      background-position: center;
      background-size: cover;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      @extend .transition;
    }

    &:hover figure {
      background-position: center;
      background-size: cover;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    figcaption {

      margin: auto;
      text-align: center;

      width: 100%;

      font-size: 50px;
      line-height: 50px;

      text-shadow: 0 0 20px rgba(0,0,0,.8);
      color: white;

      @extend .transition;
      transform: translateZ(0px);
      -webkit-transform: translateZ(0px);

      span {
        padding: 20px;
        top: auto;
        bottom: 110px;

        @extend .transition;

        @media(max-width: $xs-max) {
          bottom: 50px;
        }
      }
    }

    &:hover figcaption {
      background: rgba(0,0,0,.5);

      span {
        bottom: 150px;
        padding: 60px;

        @extend .transition;

        @media(max-width: $xs-max) {
          bottom: 50px;
        }
      }
    }
  }

  .choice.a {
    top: 0px; bottom: 0px;
    left: 0px;
    @media(max-width: $xs-max) { top: 0px; bottom: 50%; }
  }

  .choice.b {
    top: 0px; bottom: 0px;
    left: 50%;
    @media(max-width: $xs-max) { top: 50%; bottom: 0px; left: 0; }
  }

  .choice.skip {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    line-height: 90px;
    font-size: 140%;
    vertical-align: middle;
    border-radius: 50%;
    background: purple;
    color: white;
    border: 6px solid white;
    text-align: center;
    z-index: 150;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    animation-direction: normal;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-name: coloranim;
    animation-timing-function: ease;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: coloranim;
    -webkit-animation-timing-function: ease;
    transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    @extend .transition;

    a { text-decoration: none; }

    &:hover {
      -webkit-transform: scale(1.2) rotate(10deg);
      transform: scale(1.2) rotate(10deg);
    }

    &:active {
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
    }

  }

  svg {
    position: absolute;
    z-index: 150;
    bottom: 20px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 50px;
    opacity: .5;
    &:hover { opacity: .7; }
    path { fill: white; }
  }
}