@font-face {
    font-family: 'CelestiaRedux';
    src: font-url('celestiamediumredux.eot');
    src: font-url('celestiamediumredux.eot?#iefix') format('embedded-opentype'),
         font-url('celestiamediumredux.woff') format('woff'),
         font-url('celestiamediumredux.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}