@font-face {
  font-family: 'Manehattan';
  src:font-url('manehattan/Manehattan.eot?-l8ji01');
  src:font-url('manehattan/Manehattan.eot?#iefix-l8ji01') format('embedded-opentype'),
    font-url('manehattan/Manehattan.woff?-l8ji01') format('woff'),
    font-url('manehattan/Manehattan.ttf?-l8ji01') format('truetype'),
    font-url('manehattan/Manehattan.svg?-l8ji01#Manehattan') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  font-family: 'Manehattan';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  //line-height: 1;

  /* Match font size of Lato =========== */
  font-size: 119%;
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;

  vertical-align: -5%;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-twitter:before {
  content: "\f081";
}
.ico-facebook:before {
  content: "\f082";
}
.ico-camera-retro:before {
  content: "\f083";
}
.ico-pinterest:before {
  content: "\f0d2";
}
.ico-gplus:before {
  content: "\f0d5";
}
.ico-github:before {
  content: "\f113";
}
.ico-html5:before {
  content: "\f13b";
}
.ico-css3:before {
  content: "\f13c";
}
.ico-youtube:before {
  content: "\f167";
}
.ico-youtubeh:before {
  content: "\f16a";
}
.ico-dropbox:before {
  content: "\f16b";
}
.ico-stackoverflow:before {
  content: "\f16c";
}
.ico-instagram:before {
  content: "\f16d";
}
.ico-flickr:before {
  content: "\f16e";
}
.ico-adn:before {
  content: "\f170";
}
.ico-bitbucket:before {
  content: "\f171";
}
.ico-tumblr:before {
  content: "\f173";
}
.ico-apple:before {
  content: "\f179";
}
.ico-windows:before {
  content: "\f17a";
}
.ico-android:before {
  content: "\f17b";
}
.ico-dribbble:before {
  content: "\f17d";
}
.ico-skype:before {
  content: "\f17e";
}
.ico-vimeo:before {
  content: "\f194";
}
.ico-home:before {
  content: "\2302";
}
.ico-time:before {
  content: "\23f1";
}
.ico-close:before {
  content: "\2421";
}
.ico-cog:before {
  content: "\2699";
}
.ico-check:before {
  content: "\2713";
}
.ico-medal:before {
  content: "\e1c1";
}
.ico-graph:before {
  content: "\e575";
}
.ico-stats:before {
  content: "\e579";
}
.ico-bars:before {
  content: "\e9a1";
}
.ico-grid:before {
  content: "\e9a3";
}
.ico-fork:before {
  content: "\eb80";
}
.ico-yay:before {
  content: "\f072";
}
.ico-nay:before {
  content: "\f073";
}
.ico-burger:before {
  content: "\1f354";
}
.ico-moon:before {
  content: "\1f355";
}
.ico-ramen:before {
  content: "\1f35c";
}
.ico-bird:before {
  content: "\1f426";
}
.ico-cub:before {
  content: "\1f43b";
}
.ico-eye:before {
  content: "\1f440";
}
.ico-like:before {
  content: "\1f44d";
}
.ico-dislike:before {
  content: "\1f44e";
}
.ico-comments:before {
  content: "\1f4ac";
}
.ico-shuffle:before {
  content: "\1f500";
}
.ico-key:before {
  content: "\1f511";
}
